.first-box-container {
    width: 250px;
    height: 150px;
    border-style: solid;
    border-width: 10px;
    border-color: green;
    background-color: red;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
  }
  
  .second-box-container {
    width: 200px;
    height: 150px;
    background-color: yellow;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    position: relative; left: 300px;;
    position: relative; bottom: 170px;;
  }
  
  .third-box-container {
    width: 200px;
    height: 150px;
    background-color: green;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    position: relative; left: 550px;;
    position: relative; bottom: 340px;;
  }
  