p{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #555;
}

.henkilöt{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #555;
}
body{
    line-height: 1.5;
    padding: 4em 1em;
}